<br>
<br>
<div class="form">
<form method="post" action="/sign-in">
  <label class="label" for="username">Username</label>
  <input type="text" name="username">

  <br>
  <br>

  <label class="label" for="password">Password</label>
  <input type="password" name="password">

  <br>
  <br>
  
  <input type="submit">
</form>
</div>