<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="post">
		<h4>Posted By: <span><%= @post.user.username %></span></h4>
		<h4>Title: <span><%= @post.title %></span></h4>
		<h4>Post: </h4><span></a><%= @post.body %></span>
			<br>
			<br>
			<br>
	</div>

</body>
</html>