<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1 class="intro"> Edit Info</h1>

	<form class="form" method="post" action="/edit">

		<label class="label" for="password">Password</label>
		<input type="password" name="password">
		
		<br>
		<br>

		<label class="label" for="first_name">First Name</label>
		<input type="text" name="first_name">

		<br>
		<br>

		<label class="label" for="last_name">Last Name</label>
		<input type="text" name="last_name">
		
		<br>
		<br>

		<label class="label" for="age">Age</label>
		<input type="text" name="age">
		
		<br>
		<br>

		<label class="label" for="email">Email</label>
		<input type="text" name="email"><br><br>

		<button class="label" type="submit">
			Save 
		</button>

	</form>

</body>
</html>